html 
{
    scroll-behavior: smooth;
}
body
{
    background: antiquewhite;
}
.sec{
    height: 300px;
}
#navUl
{
    list-style-type:none;
    float:right;
    font-size: larger;
}
#container
{
    margin:50px 50px;
    background-color:white;
    padding:25px;
    border-radius:25px;
}
.anch{
    width:20%;
    text-decoration:none;
    padding:10px;
    border: solid #ffccff 2px;
    border-radius:50px;
    margin:3px;
    color:black"
}
.toggle-btn{
    width: 35px;
    position: absolute;
    right: 80px;
    top: 70px;
    display: none;
}
.toggle-btn span{
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: black;
    margin-bottom: 8px;
}

.active{
   font-size: larger;
   background-color:antiquewhite;
   border-radius:10px;
}

.active-btn{
    font-size: larger;
    background-color:antiquewhite; 
    
}
#navDiv ul li{
    display: inline-block;
}

@media (max-width:991px){
    .toggle-btn{display: block;}
    #navDiv
    {
        display: none;
        width: 100%;
        
        padding-top: 30px;
        margin-top: 40px;
    
    }
    #navDiv ul li
    {
        display: inline-block;
        padding: 20px;
        width: 100%;

    }   
    #navDiv.show{
        display: block;
        background-color: yellow;
        width: 100%;
        height: 300px;
    }

}